name: Compile Eaglercraft
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Get the code
      uses: actions/checkout@v4

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Run the TeaVM Compiler
      run: chmod +x ./gradlew && ./gradlew build

    - name: Upload the Finished HTML Game
      uses: actions/upload-artifact@v4
      with:
        name: My-Modded-Eaglercraft
        path: build/